<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
        <img src="..\..\assets\logo.svg" alt="" width="50" height="50">
        
        <span class="navbar-brand mb-0 h1" style="color: aliceblue;">Monsterpedia</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;" href="/#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;" href="/tipos-list">Tipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;" href="/monstros-list">Monstros</a>
                </li>
            </ul>
        </div>
    </div>
</nav>