<app-navbar-tipo-create></app-navbar-tipo-create>

<ul class="list-group mx-auto">
    <div class="list-group-item" *ngFor="let tipo of tipos">
        <span class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2">
            <img src="..\..\assets\tipos\{{tipo.name}}.svg" alt="" width="35" height="35">
        </span>
        
       <span style="font-size: x-large;">{{tipo.name}}</span> 
        <span class="float-end">
            <button type="button" class="btn btn-warning" (click)="edit(tipo)">
                <span> <i class="fas fa-pencil text-dark"></i>
                </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="delete(tipo)">
                <span> <i class="fas fa-trash text-white"></i>
                </span>
            </button>

        </span>
    </div>
</ul>