<nav class="navbar navbar-lg navbar-light bg-light navbar-fixed-top">
    <div class="container-fluid text-right">
        <img src="..\..\assets\tipos\mistico.svg" alt="" width="40" height="40">
        <span  class="navbar-brand mb-0 h1 ml-auto" style="color: rgb(0, 0, 0); ">Cadastrar novo tipo: </span>
        <button type="button" class="btn btn-success">
            <span> <i class="fas fa-plus text-white" ></i> Cadastrar</span>
        </button>
    </div>
</nav>
